<html ng-app="friendsApp">
	<head>
		<title>Friends</title>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

		<script type="text/javascript">
			var friendsApp = angular.module('friendsApp', []);
			

			//FACTORY
			friendsApp.factory('FriendFactory', function($http) {
				var factory = {};
				var friends = [];
				factory.friend = {};

				factory.index = function(callback) {
			    $http.get('/friends').success(function(output) {
			    	friends = output;
			    	callback(friends);
			    })
			  }

				factory.create = function(info, callback) {
					$http.post('/friends', info).success(function(output) {
						friends.push({
							name: info.name,
							age: info.age
						});
						callback(friends);

					})	
				}

				factory.delete = function(friend, callback) {
					$http.delete('friends/' + friend._id).success(function(output) {
						friends = output;
						callback(friends);
					});
				}

				

				return factory;
			});

			//CONTROLLER
			friendsApp.controller('FriendsController', function ($http, $scope, FriendFactory) {

				$scope.formData = {};

				FriendFactory.index(function(data) {
					$scope.friends = data;
				});

				$scope.addFriend = function() {
					FriendFactory.create($scope.new_friend, function(friends) {
						$scope.friends = friends;
						$scope.new_friend = {};
					});
				};

				$scope.deleteFriend = function(friend) {
					FriendFactory.delete(friend);
				}
			})
		</script>
	</head>
	<body ng-controller="FriendsController">
		<h1>Friends</h1>
		<input type="text" ng-model="filter_name" placeholder"filter">
		{{filter_name}}
		<ul>
			<li ng-repeat="friend in friends | filter: filter_name">
				{{friend.name}}, {{friend.age}} 
				<input type="submit" value="Delete" ng-click="deleteFriend(friend)">
			</li>
		</ul>
		<h1>Add a Friend</h1>
		<input type="text" ng-model="new_friend.name" placeholder="Name">
		<input type="text" ng-model="new_friend.age" placeholder="Age">
		<input type="submit" ng-click="addFriend()">
	</body>
</html>
